.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 1200px;
    position: relative;
    margin: auto;
    /*    height: 500px;*/
}

body,
html {
    height: 100%;
}

.box {
    width: 100%;
    height: 200px;
}

.bbox {
    background: black;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

}


.box1 {
    background-color: #154388;

}

.box2 {
    background-color: #3979d9;
    height: 300px;
}

.box3 {
    background-color: #cadbf8;
    height: 700px;
}



@media screen and (min-width:600px) {
    .box1 {
        height: 200px;
    }
    .box2 {
        height: 300px;
    }
    .box3 {
        height: 400px;
    }
}


@media screen and (min-width:900px) {


    .box1 {
        height: 100vh;
        width: 10%;
        /*        float: left;*/
    }
    .bbox {
        width: 90%;
        height: 100vh;
        transition: ease;
        /*         float: left;*/
    }
    .box2,
    .box3

        {
        height: 50vh;
    }


}
