.container{
	display: flex;
	flex-wrap:wrap;
	max-width:800px;
}
.box{
	width:100%;
	height: 700px;
}
.box1{
	background-color:navy;
	height: 700px;
}
.box2{
	background-color:blue;
	height: 200px;
}
.box3{
	background-color: lightblue;
	height:200px;
}
.box4{
	background-color:violet;
	height:100px;
}
@media screen and (min-width:480px){
    .box1{
    	width:100%;
    	height:600px;
    }
    .box2{
    	width:50%;
    	height:300px;
    }
    .box3{
    	width:50%;
    	height: 300px;
    }
    .box4{
       width:100%;
       height:200px;
    }
}
@media screen and (min-width:720px){
	.box1{
		width:80%;
		height:400px;
	}
	.box2{
		width:20%;
		height:400px;
	}
	.box3{
		width:50%;
		height:300px;
	}
	.box4{
		width:50%;
		height:300px;
	}
}
@media screen and (min-width:1000px){
	.container{
		margin:0 auto;
	}
}