.container{
    display:flex ;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;   /*for centere*/
}
.box{
    height: 200px;
    width: 100%;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: grey;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: aqua;
}
.box5{
    background-color: red;
}
@media screen and (min-width: 600px)  {
    .box1{
        order: 2;
        width: 60%

    }
    .box2{
        width: 40%;
        order: 1;
    }
    .box3{
        order: 3;
    }
    .box4{
        order: 4;
    }
    .box5{
        order: 5;
    }
}
@media screen and (min-width: 1000px){
    .box1{
        width: 60%;
    }
    .box2,.box3{
        width: 20%;
    }
}
