.container{
    display:flex ;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;   /*for centere*/
}

.box,.box6{
    height: 200px;
    width: 100%;
}


.box1{
    background-color: blue;
    max-height: 400px;
    overflow-x:scroll;
}
.box2{
    background-color: grey;
}
.box3{
    background-color: yellow;
}
/*.box4{
    background-color: aqua;
}
.box5{
    background-color: red;
}*/
@media screen and (min-width: 600px){
    .box1{
        height: 400px;
        width: 30%;
    }
    .box6{
        width: 70%;
        height: 200px;
    }
}