.container{
	display: flex;
	flex-wrap: wrap;
}
.box{
	width: 100%;
	height:700px;
}
.box1{
	background-color: navy;
}
.box2{
	background-color:blue;
}
.box3{
	background-color: lightblue;
}

@media screen and (min-width: 700px){
   .container{
   	margin:0 50px;
   }
   .box2{
   	height:49%;
   	width:80%;
   	order:2;
   }
   .box3{
   	height:49%;
   	width:80%;
   	order:3;
   }
   .box1{
   	height:100%;
   	width:20%;
   	order = 1;
   }
}