.parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 800px;
	height:740px;
	margin: 0 auto;
}



.parent1{
	/*background-color: #3F51B5;*/
	width: 90%;
	height: 100%;
	
	}


.box1{

	width: 10%;
	height: 100%;
	background-color:#3F51B5;

	/*margin: 0 auto;*/
}






.box2{
	
  	background-color:rgb(33, 150, 243);
	width: 100%;
	
	height: 50%;

	}


.box3{
	background-color: aqua;
	/*order: 3*/
	width: 100%;
	
	height: 50%;
}



@media screen and (min-width:400px) and (max-width:800px){

   .parent1{
     width: 100%;
     height: 90%;
     order: 2;

   }

	



   .box1{
     width:100%;
     height: 10%;
     order: 1;

   }


  .box2 {
     height:40%
     width: 100%;
     order: 2;

   }


  .box3{
   width: 100%;
     height:60%;
     order: 3;


  }

}

@media screen and (max-width:400px) {

   .parent1{
     width: 100%;
     height:90%;
     order: 2;

   }

	



   .box1{
     width:100%;
     height: 10%;
     order: 1;

   }


  .box2 {
     height:40%;
     width: 100%;
     order: 2;

   }


  .box3{
   width: 100%;
     height:60%;
     order: 3;


  }

}