  /* Small screen lesser than 480px*/

		.container {
            /* add code */
	        display: ;
	        display: -webkit-flex;
	        flex-flow: ;
	        -webkit-flex-flow: row wrap;
		}

       .container div {
       	  min-height: 150px;
        	min-width: 150px;
       }

       .box1, .box2, .box3, .box4, .box5 {
			   width: 100%;
        height: 20px;
       }

       .box1{
        background-color:red;
       }

       .box2 {
        background-color: yellow;
       }

       .box3 {
        background-color: blue;
       }
     /* Small screen lesser than 600px*/

	@media screen and (min-width: 600px) and (max-width: 800px){

      /* add code */
        .box1 {
            width: 60%;
            order: 2;
        }

        .box2 {
          width: 40%;
          order: 1;
        }

        .box3 {
          width: 100%;
          order: 3
        }
    }



     /* add media query for Screen more than 720px*/
    	@media screen and (min-width: 800px) {
				.container{
					width: 800px;
					margin-left: auto;
					margin-right: auto;
				}
    	}
