.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.box {
    width: 100%;
    height: 200px;
}

.box1 {
    background-color: palevioletred;
}

.box2 {
    background-color: indianred;
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: gold;
}

.box5 {
    background-color: greenyellow;
}

.box6 {
    background-color: aquamarine;
}

@media screen and (min-width: 600px) {
    .box1 {
        width: 60%;
        height: 400px;
    }

    .box2 {
        width: 40%;
        height: 400px;
    }

    .box3, .box4, .box5, .box6 {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        margin: 0 auto;
    }
}