.box{
  height: 189px;
  margin: 0 auto;
}
.box.one{
  background-color: #00ffd2;
  height:400px;
}
.two{
  background-color: #ff0000;
}
.three{
  background-color: #ff9a00;
}
.four{
  background-color: #ffb709;
}
.five{
  background-color: #ffce00;
}
@media screen and (min-width:801px) and (max-width: 1200px){
  .big-box{
    display:flex;
    flex-wrap: wrap;
  }
  .box.one{
    width:100%;
  }
  .box{
    width:50%;
  }
}
@media screen and (min-width:1201px){
  .big-box{
    display:flex;
    flex-wrap: wrap;
    width:1200px;
    margin: 0 auto;
  }
  .box.one{
    width:60%;
  }
  .box.two{
    width:40%;
    height:400px;
  }
  .box{
    width:33%;
  }
}
