.box{
    /*width:33%;
    height:400px;*/
    border-radius:50%;
    padding: 10px;
    display:inline-block;
    margins: 10px
    }  /*
*{   box_sizing: border_box;
}.small_box{
    width: calc(30%-40px)
}  */
