.bigbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width:480px;
    height:600px;
}
.box1{
    background-color: #1d3854;
}
.box2{
    background-color: #6ea09d;
}
.box3 {
    background-color:  #e2e5e9;

}
@media screen and (min-width: 440px) and (max-width:600px)
{
.box {
    height: 400px;
    width: 100%
}
}
@media screen and (min-width: 600px) and (max-width:800px)
{
    .box1{
        width:66.6666%;
        height:600px;
        order:2;
    }
    .box2{
        width:33.3333%;
        height:600px;
        order:1;
    }
    .box3 {
        width:100%;
        height:150px;
        order:3;
    }
}
@media screen and (min-width:800px)
{
    .box{
        height:600px;
    }
    .box1{
        width:50%;
        order:2;
    }
    .box2{
        width:25%;
        order:1;
    }
    .box3 {
        width:25%;
        order:3;
    }
}