
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.box{
    width: 100%;
    height: 200px;
}
.box1{
    background-color: palevioletred;
}

.box2{
    background-color: crimson;
}

.box3{
    background-color: darkkhaki;
}

.box4{
    background-color: aqua;
}

.box5{
    background-color: darkgreen;
}

.box6{
    background-color: fuchsia;
}

@media screen and (min-width: 720px) {
    .container{
        margin: 0 auto;
    }

}

@media screen and (min-width:600px ) {
    .container{
        margin: 0 auto;
    }
    .box.box1{}
}