.color-text{
    color: blue;
}

@media screen and (max-width: 600px) {      /*media query*/
    .color-text{
        color: red;
    }
}

.box{
    width: 32%; /* 33.33 ni kr skte coz fir wahi parent ki font size 0 karo and usi specific ki itni karani padegi*/
    border: 1px dashed red;
    display: inline-block; /* display sath mein lana hai so.. inline block*/
    height: 200px;
}

@media screen and (max-width: 700px){
    .box{
        width: 49%
    }

}

@media screen and (max-width: 450px) {
    .box{
        width: 100%;
    }

}


/*.color-text{*/
    /*color: azure; phone 2desktopdesign hoga to min width use hogi*/
/*}*/

/*@media screen and (min-width: ){*/

/*}*/