
/*.color-text{
    color: blue;
}
@media screen  and (max-width: 600px){
    .color-text{
        color: red;
    }
}

.box {
    width: 32%;
    height: 200px;
    border: 1px dashed red;
    display: inline-block;

}
@media screen and (max-width: 700px){
    .box{
        width: 49%
    }


}

@media screen and (max-width: 480px){
    .box{
        width: 100%;
    }

}
*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;

}
.box
{
    width: 100%;
    height:200px;

}
.box1
{
    background-color: red;
}
.box2{
    background-color: navy;
}
.box3{
    background-color: gold;
}
.box4{
    background-color: orangered;
}
.box5{
    background-color: pink;
}
.box6{
    background-color: springgreen;
}
.box7{
    background-color: aquamarine;
}
.box8{
    background-color: chocolate;
}
.box9{
    background-color: darkmagenta;
}
@media screen and (min-width: 720px) {
    .box.box1 {
        width: 30%;
        height: 100%;
    }
    .box{
        width: 50%;
    }
}


@media screen and (min-width: 720px) {
    .container {
        margin: 0 auto;
    }
}
