.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.block1{
    height: 200px;
    background-color: #ff0e09;
}
.block2{
    height: 200px;
    background-color: #c62828;
}
.block3{
    height: 200px;
    background-color: #e53935;
}
@media screen and (max-width: 992px){
   .block1,.block2,.block3{
       width:100%;
   }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .block1{
        order:2;
        width:75%;
        height: 400px;
    }
    .block2{
        order:1;
        width: 25%;
        height: 400px;
    }
    .block3{
        order:3;
        width:100%;
    }
}
@media screen and (min-width: 1200px){
    .block1{
        order:2;
        width:50%;
        height: 400px;
    }
    .block2{
        order:1;
        width: 25%;
        height: 400px;
    }
    .block3{
        order:3;
        width:25%;
        height: 400px;
    }
}