.container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
} 

.box{
    height: 200px;
    width: 100%;
}
.box1{
    background-color: #06418e;
    height: 200px;
    order: 1;
}
.box2{
    background-color: #2a77e0;
    order: 2;
}
.box3{
    background-color: #c8dbfc;
    order: 3;
}

@media(max-width:480px) and (min-width:200px){
    .box{
        width: 100%;
    }
    .box1{
        height: 400px;
    }
}
@media(min-width:600px) and (max-width:735px) {
    .box1{
        width:70%;
        order: 2;
        height: 600px;

    }
    .box2{
        width:30%;
        order: 1;
        height: 600px;
    }
    .box3{
        width:100%;
        order: 3;
        height: 300px;
    }
    
}
@media(max-width:2560px) and (min-width:735px){
    .box1{
        width:50%;
        order: 2;
        height: 600px;

    }
    .box2{
        width:25%;
        order: 1;
        height: 600px;
    }
    .box3{
        width:25%;
        order: 3;
        height: 600px;
    }
}
