*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    height: 100vh;
}

.box1{
    width: 29%;
    background-color: teal;
}

.box2{
    width: 70%;
}

.box3{
    width: 100%;
    height: 50%;
    background-color: yellow;
}


.box4{
    width: 100%;
    height: 50%;
    background-color: green;
}


@media(min-width: 480px) and (max-width: 900px){
    .container{
        width: 100%;
    }
    .box1{
        width: 100%;
        height: 200px;
    }

    .box2{
        width: 100%;
        height: 600px;
    }

    .box3{
        width: inherit;
        height: 40%;
    }

    .box4{
        width: inherit;
        height: 60%;
    }
}

@media(max-width: 480px){
    .container{
        width: 100%;
    }

    .box1{
        width: 100%;
        height: 200px;
    }

    .box2{
        width: 100%;
        height: 500px;
    }

    .box2 > .box3{
        width: inherit;
        height: 150px;
    }

    .box2 > .box4{
        width: inherit;
        height: 350px;
    }
}

/* calc function is used  to calculate the calculation between two different unit */