body
{
    background-color: #DFD9E2;
    margin: 0;
    font-size: 1rem;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

main
{
    display: flex;
    background-color: white;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.section1
{
    background-color: #521945;
    color: white;
    width: 300px;
    height: 950px;
    display: block;
}

.upperbox
{
    height: 190px;
    display: block;
}

.uppercontent
{
    width: 100%;
    height: 200px;
    display: block;
}

img
{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 45px;
}

.myname
{
    margin: auto;
    text-align: center;
}

.lowerbox
{
    background-color: #AF3B6E;
    color: white;
    height: 715px;
    display: block;
}

.lowercontent
{
    padding-top: 10px;
}

.lowercontent h3
{
    margin-left: 30px;
}

.lowercontent ul
{
    list-style-type: none;
    font-size: 0.9rem;
    margin-top: -10px;
}

.lowercontent li
{
    font:  -webkit-control;
}

.lowercontent>div>ul>li>div
{
    color: #c4f5f9;
}

.contents
{
    margin: auto;
    width: 85%;
    margin-top: 50px;
}

.contents h2
{
    color: #521945;
    font-size: 1.5rem;
}

.contents h3
{
    color: #AF3B6E;
}

.contents h2 div
{
    font-size: 0.98rem;
}

.contents p
{
    margin-top: -10px;
}

.contents #contact
{
    list-style-type: none;
    margin-left: -20px;
}

.contents #contact a
{
    text-decoration: none;
    color: black;
}

.contents #contact a:hover
{
    border-bottom: solid black 1px;
}

@media (max-width: 977px)
{
    main 
    {
        flex-wrap: wrap;
    }
    .section1
    {
        width: 100%;
    }
    .lowercontent
    {
        margin-left: 0;
        text-align: center;
    }
}

