.squares {
    width: 600px;
    height: 200px;
    display: block;
    position: relative;
    left: 300px;
    top: 30px;

}

.third{
    width:20%;
    height:60%;
    position:absolute;
    top:20%;
    left:30%;
    z-index:0;
    background-color: palevioletred;
}
.second{
    width:25%;
    height:80%;
    position:absolute;
    top:10%;
    left:20%;
    background-color: GREY;
    z-index:1;
}
.first{
    position:absolute;
    width:30%;
    height:100%;
    z-index:2;
    background-color: aqua;
    left:5%;
}
