.container{
	display:flex;
	flex-wrap:wrap;
}
.box{
	width:100%;
	height:200px;
}
.box1{
	background-color:navy;
	height: 700px;
}
.box2{
	background-color:blue;
	height: 200px;
}
.box3{
	background-color: lightblue;
	height:200px;
}
@media screen and (min-width: 480px){
	.box1{
		height:400px;
	}
	.box2{
		height:400px;
	}
	.box3{
		height:400px;
	}
}
@media screen and (min-width:720px){
	.box1{
		width:80%;
		height:700px;
		order: 2;
	}
	.box2{
		width:20%;
		height:700px;
		order:1;
	}
	.box3{
		order:3;
	    height:200px;
	}
}
@media screen and (min-width: 1000px){
     .box1{
     	width:60%;
     }
     .box2{
     	width:20%;
     }
     .box3{
     	width:20%;
     	height:700px;
     }
}