/* Small screen lesser than 480px*/

		.container {
            /* add code */
	        display: flex;
	        display: -webkit-flex;
          flex-direction: row;
          flex-wrap: wrap;
	        flex-flow: row wrap;
	        -webkit-flex-flow: row wrap;
		}
          
       .container div {
       	    min-height: 150px;
        	min-width: 150px;  
       } 

    
       .box1, .box2, .box3 , .box4, .box5 {
			width: 100%;
       }
        .box1{
          background-color: lightsalmon;
        }
        .box2{
          background-color: lightblue;
        }
        .box3{
          background-color: lightseagreen;
        }
        .box4{
          background-color: lightpink;
        }
        .box5{
          background-color: lightyellow;
        }
       
     /* Small screen lesser than 600px*/
     @media screen and (min-width: 150px) {
      .container {
        height: 750px;
      }
          .box1, .box2, .box3 , .box4, .box5 {
      width: 100%;
       }


      } 
      @media screen and (min-width: 300px) {
        .container {
        height: 750px;
      }

      
           .box2, .box3 , .box4, .box5 {
              width: 50%;
            }

      } 



	@media screen and (min-width: 600px) {

      /* add code */
      .container {
        height: 750px;
      }

        .box1{
              width: 60%;
            }
            .box2{
              width: 39.9%;
            }
            .box3 , .box4, .box5 {
              width: 33.3%;
            }
      }
    }



     /* add media query for Screen more than 720px*/
    	@media screen and (min-width: 800px) {
            .container {
              width: 800px;
              height: 750px;
              margin-left: auto;
              margin-right: auto;
            }
            .box1{
              width: 60%;
            }
            .box2{
              width: 39.9%;
            }
            .box3 , .box4, .box5 {
              width: 33.3%;
            }

    	} 
      
