*{
    margin: 0px;
    overflow-x: hidden;
}

.align{
    width: 100%;
    height: 50px;
    background-color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 25%;
    height: 100vh;
}

.box2{
    background-color: yellowgreen;
    width: 50%;
}

.box1{
    background-color: #0dccfc;
    width: 25%;
}

.box3{
    background-color: rgb(197, 12, 151);
    width: 25%;
}

@media(min-width: 720px) and (max-width: 900px){
    .box1{
        width: 33.33%;
    }

    .box2{
        width: 66.66%;
    }

    .box3{
        width: 100%;
        height: 200px;
    }
}

@media(min-width: 480px) and (max-width: 720px){
    .box{
        width: 100%;
        height: 321px
    }

    .box2{
        order: 0;
    }

    .box1{
        order: 1;
    }

    .box3{
        order: 2;
    }
}

@media(max-width: 480px){
    .box{
        width: 100%;
        height: 200px;
    }

    .box1{
        height: 120vh;
    }
}
