  /* Small screen lesser than 480px*/

		.container {
            /* add code */
	        display: flex;
	        flex-flow: row wrap;
		}
          
       .container div {
       	    min-height: 150px;
        	min-width: 150px;  
       } 
    
       .box1, .box2, .box3 {
			width: 100%;
       }

	   .box1 {
		   background-color: blue;
	   }

	   .box2 {
		   background-color: grey;
	   }

	   .box3 {
		   background-color: black;
	   }
       
     /* Small screen lesser than 600px*/

	@media screen and (min-width: 600px) {

      /* add code */
        .box1 {
            /* width -> 60 and order will be 2 */
			width: 60%;
			order: 2;
        }

        .box2 {
        	width: 40%;
			order: 1;
        }

        .box3 {
        	width: 100%;
			order: 3;
        }
    }



     /* add media query for Screen more than 720px*/
    	@media screen and (min-width: 800px) {

			.box2 {
				width: 20%;
			}

			.box3 {
				width: 20%;
			}

    	}